
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');




*{

margin: 0;
padding: 0;
  
}



html{
scroll-behavior: smooth;
}


body{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
overflow-x: hidden;
box-sizing: border-box;


}


/*Navigation bar*/
.nav-bar-container{
display: flex;
justify-content:space-between;
align-items: center;
background-color: rgb(49, 43, 43);
height: 70px;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
border-bottom: 2px solid white;
}


.nav-bar{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
height: 45vh;
position: fixed;
top:-100%;
background-color: black;
color: rgb(255, 255, 255);
left: 0;
width: 100%;
z-index: 999;
transition: all 0.3s ease-out;

}

.logo{
font-size: 1.5rem;
padding-left: 5px;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo::after{
content:"";
animation: skip 25s infinite;
transition: all 25s ease;
cursor: pointer;
}

@keyframes skip{
0%, 25%{
  content: "Knowledge Hub Library";
  color: gold;
}
26%, 50%{
  content: "Knowledge Hub Library";
  color: rgb(144, 3, 226);
}
56%, 75%{
  content: "Knowledge Hub Library";
  color: rgb(255, 94, 0);
}
76%, 100%{
  content: "Knowledge Hub Library";
  color: rgb(4, 163, 155);
}
}


 .nav-bar.active { 
      top: 0; 
    } 


.humbuger{
font-size: 2.5rem;
color: white;
display: block;
padding: 0 25px;
}

.close{
font-size: 2.5rem;
position: absolute;
top: 20px;
right:15px;
}


.nav-bar a{
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 1.5rem;
padding: 8px;
flex-direction: column;
margin: 10px 0;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-bar a:hover{
background-color: antiquewhite;
padding: 5px 5px;
color: black;
border-radius: 6px;

}

.nav-bar a:focus{
background-color: black;
color: white;

}


.nav-bar a:active{
color: orangered;
}





@media(min-width:768px) { 
.nav-bar-container{
  max-width: 100%;
}

        .humbuger{
        display:none;
      }

      .close{
        display: none;
      }

      .nav-bar { 
        position: static; 
        height: auto; 
        width: auto; 
        flex-direction: row; 
        background: transparent; 
        left: 0; 
        justify-content: flex-end;
      }

     
    }




/*welcome messssage*/

.welcome{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background: url(../IMAGE/library.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;

}

.welcome-cover{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgba(0, 0, 0, 0.705);
height: 100vh;
}

@media(max-width:768px){
.welcome-cover p{
display: flex;
text-align: center;
padding: 50px 10px;
}



.greeting{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.hero-section-btn{
background-color: transparent;
padding: 5px 10px 5px 10px;
border-radius: 11px;
display: flex;
justify-content: center;



}


}


.welcome-cover p{
text-align: center;
font-size: 25px;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 4px;
padding-top: 10px;
}

.greeting{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:rgb(255, 255, 255);
text-align: center;
font-weight: 700;
font-size:2.5rem;

}

/*hero-section-btn*/
.hero-section-btn{
background-color: transparent;
padding: 15px 15px 15px 15px;
border-radius: 11px;
margin-top: 25px;
gap: 30px;
}

.btn{
padding: 15px 20px;
border-radius: 9px;
background-color: rgb(117, 33, 33);
border: 2px solid white;
transition: color 2s ease, opacity 2s ease;

}

.btn a{
text-decoration: none;
font-size: 1.5rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
font-weight: 600;

}


.btn:hover{
background-color: rgb(4, 67, 97);
opacity: 0.7;
}







/*BOOK*/

.books{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
row-gap: 50px;
column-gap: 10px;
max-width: 100%;
height: 100vh;
background: white;
place-items: center;
color: black;
vertical-align: top;
padding-bottom: 400px;



}

@media(max-width:768px){
.books{
display: grid;
grid-template-columns: 
repeat(auto-fit, minmax(350px,1fr));
place-items: center;
height: 100%;
padding-bottom: 90px;


}


.book1 img,.book2 img,.book3 img,
.book4 img,.book5 img,.book6 img{
width: 100%;
}

}

 



.heading {
grid-column: 1/-1;
color:  black;
font-size: 40px;
font-weight: 600;
font-family:'Times New Roman', Times, serif;
place-items: center;
padding-top: 65px;




}

.heading::after{
padding-left: 4px;
content: "";
animation: change 7s infinite;
}

@keyframes change{
  from{
    content: "Library";
    color: green;
  }
  to{
  content: "Library And Expand Your Knowledge";
  color: black;
  }

 
}

.btn-container{
display: flex;
align-items: center;
justify-content:center;
gap: 10px;

}

.btn-container a{
text-decoration: none;
color: white;
font-size: 1.5rem;
padding: 10px;
}

.book1,.book2,.book3,
.book4,.book5,.book6{
box-shadow: 0 8px 20px rgba(0,0,0,0.15);
border-radius: 9px;
}

.book1 img,.book2 img,.book3 img,
.book4 img,.book5 img,.book6 img{
width:400px;
height: auto;
object-fit: cover;
object-position: center;
cursor: pointer;
transition: transform 3s ease;
}

.book1 img:hover,.book2 img:hover,.book3 img:hover,
.book4 img:hover,.book5 img:hover,.book6 img:hover{
transform:scale(1.05);
}

.book1 button, .book2 button,
.book3 button, .book4 button,
.book5 button, .book6 button{
margin: 5px 0;
padding: 10px 13px 10px 13x;
border: none;
background: rgb(19, 43, 19);
box-shadow: 0 9px 20px rgba(0,0,0,0.15);
color: white;
border-radius: 5px;
transition: background-color 2s ease,opacity 2s ease ;

}

.book1 button:hover,
.book1 button:hover,
.book2 button:hover,
.book3 button:hover, 
.book4 button:hover,
.book5 button:hover, 
.book6 button:hover{
background-color: rgb(10, 3, 4);
color: rgb(255, 255, 255);
opacity: 0.8;

}


.book2{
box-shadow: 0 8px 20px rgba(0,0,0,0.15);
border-radius: 9px;
}

.book1 img{
width: 350px;
height: 350px;
object-fit: cover;
object-position: center;

}

.price1{
  text-align: center;
}



.book2 img{
width: 350px;
height: 350px;
object-fit: cover;
object-position: center;


}


.price2{
  text-align: center;
}

.book3 img{
width: 350px;
height: 350px;
object-fit: cover;
object-position: center;

} 

.price3{
  text-align: center;
}






.book4 img{
width: 350px;
height: 350px;
object-fit: cover;
object-position: center;

}

.price4{
  text-align: center;
}


.book5 img{
width: 350px;
height: auto;
object-fit: cover;
object-position: center;

}

.price5{
  text-align: center;
}





.book6 img{
width:350px;
height: auto;
object-fit: cover;
object-position: center;

}

.price6{
  text-align: center;
}


.price1:hover,.price2:hover,.price3:hover,
.price4:hover,.price5:hover,.price6:hover{
background-color: red;
color: white;
cursor: pointer;

}


/*payment-order*/

.payment-order{
width: 100%;
height: 100%;
background: #252323;
gap: 300px;
color: white;
filter: blur(0.5);
padding-bottom: 90px;

}


.layout{
display: flex;
justify-content: center;
gap: 100px;
padding: 0 45px;

}



.form-container{
max-width: 50%;
box-shadow: 0 8px 20px rgba(0,0,0,0.15);
border-radius: 9px;
background: rgba(255,255,255,0.1);
padding: 45px;
border-radius: 6px;


}


@media(max-width:768px){
.layout{
max-width: 100%;
flex-direction: column;
padding-top: 20px;
padding: 5px 15px;
}

.form-container{
  max-width: 100%;
  padding: 25px;
}

.payment-order{
flex-direction: column;
height: 100%;
padding: 65px 0;
}

.form-container button{
width: 100%;
}

select{
width: 100%;
}
}



.address-form{
font-style: italic;
border-radius: 9px;
background:transparent;
padding: 5px;
height: auto;
padding: 5px 0;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 0 10px;
}

.address-form h3, .address-form h4,
.address-form h5, .address-form h6{
padding: 3px 10px;
color: rgb(255, 255, 255);
}



.topic{
 padding-top: 80px;
 padding-bottom: 40px;
text-align: center;
font-size: 1.5rem;
}

.topic::after{
content: " ";
animation: spin 3s infinite;
padding-left: 4px;
}

@keyframes spin{
from{
content: " Now!";
color: rgb(255, 196, 0);
}
to{
content: " Now!";
color: rgb(29, 168, 40);
}
}


.address-form{
text-align: center;
}


.form-container label{
color: rgb(255, 255, 255);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
}

 .name{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/volunteer-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
background-size: 20px 20px;
box-sizing: border-box;
}



 .Contact{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/telephone-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
background-size: 20px 20px;
box-sizing: border-box;
}



 .email{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/envelope-open-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
box-sizing: border-box;
background-size: 20px 20px;
line-height: 40px;
}



 .amount{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/finance-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
line-height: 40px;
background-size: 20px 20px;
box-sizing: border-box;
}





.form-container input:focus{
  background: #fffefe;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
}

select{
 width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 45px;
margin: 5px 0; 
}


.form-container button{
margin: 10px auto;
border: none;
width: 100%;
padding: 15px 0;
border-radius: 6px;
transition: background-color 2s ease;
}


.form-container button:hover{
background-color: green;
color: white;
opacity: 0.8;
}



/*Peruse Books*/
.Peruse{
background-color:white;
display: grid;
grid-template-columns: repeat( 2, 1fr);
grid-template-rows: repeat( 2, 1fr);
gap:20px;
max-width:100%;
place-items: center;
vertical-align: top;
height: 100%;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 30px;

}


@media(max-width:768px){
.Peruse{
padding-bottom: 50px;

}

.reading{
margin-top: 90px;
}


.rea-a-book{
font-size: 30px;
font-style: italic;
font-weight: 600;
text-align: justify;
margin-top: 70px;
}

.download-content{
font-size: 10px;
}
}

.rea-a-book{
grid-column: 1/-1;
color:  rgb(255, 255, 255);
font-size: 40px;
font-weight: 600;
font-family: "Montserrat", sans-serif;
place-items: center;
padding-top: 65px;
background-color: #252323;
padding: 10px 30px;
border-radius: 14px;
}


.reading{
background-color: white;
box-shadow: 0 8px 20px rgba(0,0,0,0.15);
border-radius: 20px;
padding: 20px;
vertical-align: top;
transition: all 3s ease;
animation: round 0.3s infinite;
}

.reading:hover{
border: 2px solid black;
transition: all 3s ease;
animation: round 0.3s infinite;
}

@keyframes round{

from{
  border-color: rgb(119, 5, 5);
}

to{
border-color: rgb(15, 15, 124);
}


}



.reading img{
width: 50%;
display: block;
height: auto;
border-radius: 20px;
margin: 0 auto;


}


.paging{
    grid-column: 1/-1;
    margin-top: 20px;
    padding-bottom: 50px;

    }

    .paging-a{
      display: flex;
    justify-content:center;
    align-items: center;
    }
    
    .paging a{
      border: 1px solid black;
      color: rgb(97, 5, 5);
      background-color: white;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
      margin: 0 3px;
      padding: 8px 12px;
      text-decoration: none;
      border: 5px;
    }





@media(max-width:768px){
.reading img{
width: 100%;
}
}
.download-content{
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
}


.paging-a{
  width: 100%;
}


i{
font: size 16px;
padding-left: 7px;
}


/*footer*/

footer{
background-color:#252323;
border-top:2px solid gold;
color: rgb(255, 255, 255);
left: 0;
position:relative;
display: flex;
justify-content: center;
align-items: center;
padding: 15px 0;
font-style: italic;
font-family: 'Times New Roman', Times, serif;


}




footer p{

position: absolute;
text-align: center;
font-size: 16px;
}



@media(max-width:768px){

footer p{ 
 font-size: 10px;
}
}
