
 .name{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/volunteer-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
background-size: 20px 20px;
box-sizing: border-box;
}



 .Contact{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/telephone-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
background-size: 20px 20px;
box-sizing: border-box;
}



 .email{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/envelope-open-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
box-sizing: border-box;
background-size: 20px 20px;
line-height: 40px;
}



 .amount{
width: 100%;
border-radius: 5px;
border-bottom: 2px solid rgb(0, 0, 0);
height: 40px;
margin: 10px 0;
background-image: url('../IMAGE/finance-icon.png');
background-repeat: no-repeat;
background-position: 10px center;
padding:10px 35px 10px 35px;
line-height: 40px;
background-size: 20px 20px;
box-sizing: border-box;
}

